.form{
  display: flex;
  flex-direction: row; 
  justify-content: space-around ;
  flex-wrap: wrap;
}
.form .form_icon{
  width: 25px; 
  height: auto;
  
}
.cardlinespan{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}