.dragcont {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  top: 200px;
  position: fixed;
  padding: 4px;
  color: #fff
}
.dragcont:hover {
transform: scale(1.1);
transition: 0.2s;
}

.svgCont{
	width: 64px;
	height: 64px;
  padding: 5px;
}
.filename{
}
