.mainWrapper{
  display: flex;
  flex-direction: row;
  /* background-color: rgba(129,129,129, 0.5); */
  width: 100%;
  height: 100%;
}
/* -------------------------------firscol */
.firscol{
  width: 35%;
}
/* -------------------------------seccol */
.seccol{
width: 55%;

}
/* -------------------------------thirdcol */
.thirdcol{
  width: 10%;
}
.recyclingbinwrapper{
  width: 100%;
}
.recyclingbinwrapper img{
  width: 100%;
}
